*{
    margin:0;
    padding:0;
}
.container{
    padding:10px;
    width:450px;
    margin:50px auto;
    background-color: rgb(131, 131, 131);
    border-radius: 5px;

}
form{
    background-color: rgb(139, 139, 139);
}
h1#title{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing:3px;
    margin-top:5px;
    text-align:center;
}
.control{
    display:block;
    padding:7px;
    border:1px solid rgb(255, 255, 255, 0.486);
    border-radius:5px;
    width:95%;
    margin:5px;
}